
<div>
    <h2>{{device.name}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="nScannerApp.device.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{device.name}}</span>
                </td>
            </tr>
            <tr has-authority="ROLE_ADMIN">
                <td>
                    <span translate="nScannerApp.device.description">Description</span>
                </td>
                <td>
                    <span class="form-control-static">{{device.description}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="nScannerApp.device.expirationDate">Expiration date</span>
                </td>
                <td>
                    <span ng-class="device.expirationDate > currentDate ? 'failed-test' : 'form-control-static'">{{device.expirationDate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="nScannerApp.device.childDevices">Child devices</span>
                </td>
                <td>
                    <a ng-repeat="child in device.devices" ui-sref="device.detail({id:child.id})">{{child.name}}&nbsp;</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="nScannerApp.device.testScripts">Test scripts</span>
                </td>
                <td>
                    <a ng-class="script.lastResult && script.lastResult != 0 ? 'failed-test' : ''" ng-repeat="script in device.testScripts" ui-sref="testScript.detail({id:script.id})">{{script.name}}&nbsp;</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="nScannerApp.device.networkInterfaces">Network interfaces</span>
                </td>
                <td>
                    <a ng-repeat="interface in device.networkInterfaces" ui-sref="networkInterface.detail({id:interface.id})">{{interface.name}}&nbsp;</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
