
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDeviceLabel" translate="nScannerApp.device.home.createOrEditLabel">Create or edit a Device</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="device.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="nScannerApp.device.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="device.name" required
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="nScannerApp.device.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="device.description" required
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="nScannerApp.device.expirationDate" for="field_expirationDate">Expiration date</label>
            <div class="dropdown">
	            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
	    			<div class="input-group"><input type="text" name="expirationDate" id="field_expirationDate" class="form-control" data-ng-model="device.expirationDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
	  			</a>
	  			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    			<datetimepicker data-ng-model="device.expirationDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
	  			</ul>
	  		</div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="nScannerApp.device.childDevices" for="field_devices">Child devices</label>
            <multiselect data-multiple="true" data-compare-by="id" ng-model="device.devices" options="child as d.name for d in devices" name="devices" id="field_devices"></am-multiselect>
        </div>
        <div class="form-group">
            <label class="control-label" translate="nScannerApp.device.testScripts" for="field_scripts">Test scripts</label>
            <multiselect data-multiple="true" data-compare-by="id" ng-model="device.testScripts" options="script as ts.name for ts in testScripts" name="testScripts" id="field_scripts"></am-multiselect>
        </div>
        <div class="form-group">
            <label class="control-label" translate="nScannerApp.device.networkInterfaces" for="field_interfaces">Network interfaces</label>
            <multiselect data-multiple="true" data-compare-by="id" ng-model="device.networkInterfaces" options="interface as int.name for int in networkInterfaces" name="interfaces" id="field_interfaces"></am-multiselect>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
