<div>
    <h2 translate="nScannerApp.networkService.home.title">NetworkServices</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="networkService.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="nScannerApp.networkService.home.createLabel">Create a new NetworkService</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="nScannerApp.networkService.name">Name</th>
                    <th translate="nScannerApp.networkService.description">Description</th>
                    <th translate="nScannerApp.networkService.port">Port</th>
                    <th translate="nScannerApp.networkService.testScripts">Test scripts</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="networkService in networkServices track by networkService.id">
                    <td><a ui-sref="networkService.detail({id:networkService.id})">{{networkService.id}}</a></td>
                    <td>{{networkService.name}}</td>
                    <td>{{networkService.description}}</td>
                    <td>{{networkService.port}}</td>
                    <td>
                    	<a ng-repeat="script in networkService.testScripts" ui-sref="testScript.detail({id:script.id})">{{script.name}}&nbsp;</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="networkService.detail({id:networkService.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="networkService.edit({id:networkService.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="networkService.delete({id:networkService.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
